<div class="container">
  <div class="jumbotron">
    <h1>AngularJS</h1>
    <p>by Malek</p>
  </div>
  <div class="row" ng-controller="EventsCtrl">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-3">Name</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-3">Place</th>
            <th class="col-md-4">Description</th>
            <th class="col-md-2">Actions</th>
          </tr>
        </thead>
        <tbody>
         <tr ng-repeat="event in events" ng-include="toggleForm(event)"></tr>
        </tbody>
      </table>
    </div>
  </div>
  fghfghdit
  fgdff
</div>
